<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.webfit.nativemap" version="0.0.2">
    <name>Native map</name>
    <description>Cordova native map plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,nativemap,map,osm</keywords>
    <js-module src="www/nativemap.js" name="nativemap">
        <clobbers target="nativemap" />
    </js-module>
    <platform name="android">
        <framework src="src/android/rules.gradle" custom="true" type="gradleReference" />
        <config-file target="config.xml" parent="/*">
            <feature name="nativemap">
                <param name="android-package" value="com.webfit.nativemap.nativemap"/>
            </feature>
        </config-file>
        <source-file src="src/android/nativemap.java" target-dir="src/com/webfit/nativemap" />
        <source-file src="src/android/MapActivity.java" target-dir="src/com/webfit/nativemap" />
        <source-file src="src/android/img/icon_abri.png" target-dir="res/drawable-hdpi/icon_abri.png" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.webfit.nativemap.MapActivity" android:label="Share"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
        </config-file>
    </platform>
    <!-- <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/> -->
    <!--
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform>-->
</plugin>