<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.webfit.nativemap" version="0.0.8">
    <name>Native map</name>
    <description>Cordova native map plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,nativemap,map,osm</keywords>
    <js-module src="www/nativemap.js" name="nativemap">
        <clobbers target="nativemap" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="nativemap">
                <param name="android-package" value="com.webfit.nativemap.nativemap"/>
            </feature>
        </config-file>
        <source-file src="src/android/nativemap.java" target-dir="src/com/webfit/nativemap" />
        <source-file src="src/android/MapActivity.java" target-dir="src/com/webfit/nativemap" />
        <source-file src="src/android/map.xml" target-dir="res/layout" />
        <source-file src="src/android/bubble.xml" target-dir="res/layout" />
        <source-file src="src/android/img/icon_abri.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_acces.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_atterrissage.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_bisse.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_bivouac.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_camp.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_camping.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_canyon.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_cascade.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_col.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_decollage.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_escalade.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_gite.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_grotte.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_lac.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_lieu.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_meteo.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_produit.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_refuge.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_sae.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_sommet.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_source.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_virtuel.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_webcam.png" target-dir="res/drawable-hdpi/" />    
        <source-file src="src/android/img/icon_itineraire.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_misc.png" target-dir="res/drawable-hdpi/" />  
        <source-file src="src/android/img/bubble.9.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/btn_moreinfo.png" target-dir="res/drawable-hdpi/" />
        <source-file src="src/android/img/icon_myposition.png" target-dir="res/drawable-hdpi/" />  
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.webfit.nativemap.MapActivity" android:label="Share" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVNativeMap"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVNativeMap.h" />
        <source-file src="src/ios/CDVNativeMap.m" />
        <resource-file src="src/android/img/icon_abri.png" />
        <source-file src="src/android/img/icon_acces.png" />
        <source-file src="src/android/img/icon_atterrissage.png" />
        <source-file src="src/android/img/icon_bisse.png" />
        <source-file src="src/android/img/icon_bivouac.png" />
        <source-file src="src/android/img/icon_camp.png" />
        <source-file src="src/android/img/icon_camping.png" />
        <source-file src="src/android/img/icon_canyon.png" />
        <source-file src="src/android/img/icon_cascade.png" />
        <source-file src="src/android/img/icon_col.png" />
        <source-file src="src/android/img/icon_decollage.png" />
        <source-file src="src/android/img/icon_escalade.png" />
        <source-file src="src/android/img/icon_gite.png" />
        <source-file src="src/android/img/icon_grotte.png" />
        <source-file src="src/android/img/icon_lac.png" />
        <source-file src="src/android/img/icon_lieu.png" />
        <source-file src="src/android/img/icon_meteo.png" />
        <source-file src="src/android/img/icon_produit.png" />
        <source-file src="src/android/img/icon_refuge.png" />
        <source-file src="src/android/img/icon_sae.png" />
        <source-file src="src/android/img/icon_sommet.png" />
        <source-file src="src/android/img/icon_source.png" />
        <source-file src="src/android/img/icon_virtuel.png" />
        <source-file src="src/android/img/icon_webcam.png" />    
        <source-file src="src/android/img/icon_itineraire.png" />
        <source-file src="src/android/img/icon_misc.png" />  
        <source-file src="src/android/img/bubble.9.png" />
        <source-file src="src/android/img/btn_moreinfo.png" />
        <source-file src="src/android/img/icon_myposition.png" /> 
    </platform>
    <!-- <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/> -->
    <!--
 <framework src="src/android/rules.gradle" custom="true" type="gradleReference" />
    -->
</plugin>